.about {
    background: #ffe5e5;
    padding: 15px 20px;
    border-radius: 25px;
}

.me {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.story a {
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}