.works{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background: #e5ffe7;
}
.my {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.list {
    display: flex;
    justify-content: space-between;
}
.name {
    line-height: normal;
}

.position {
    line-height: normal;
}
.date {
    line-height: normal;
}