.works{
    padding: 15px 20px;
    border-radius: 25px;
    background: #e5ffe7;
}
.my {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
.list {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}
.name {
    line-height: normal;
}

.position {
    line-height: normal;
    color: #868986;
}
.date {
    line-height: normal;
    color: #868986
}



.head,
.bodyItem
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}