/*TODO: Тут сделать подключение шрифтов, сами шрифты положить в папку /static/fonts */
@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('/static/fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto-Italic', sans-serif;
    font-weight: normal;
    font-style: normal;
    src: url('/static/fonts/Roboto-Italic.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: normal;
    src: url('/static/fonts/Roboto-Bold.ttf') format('ttf');
}

