/*TODO: Сюда выноси все переменные по цветам, и используй их в верстке обращаясь к ним через var(--white)
К примеру:
.containner {
    background: var(--white)
}
   */


:root {
    --white: #FFF;
    --black: #000;

    --gray: #ffe5e5;
}
