.container {
    max-width: 1000px;
    padding-top: 30px;
    margin: auto;
}
.avatar {
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0);
}
.info {
    display: flex;
    margin-bottom: 20px;
}
.text {
    margin-left: 25px;
}