.avatar {
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0);
}
.info {
    display: flex;
    margin-bottom: 20px;
}
.text {
    margin-left: 25px;
}
.title {
    font-size: 2em;
    margin: 21px 0px 21px 0px
}
.social {
    margin: 21px 0px 10px 0px;
}

.new a {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
